.stText {
    position: absolute;
    left: 80px;
    top: 120px;
}

.stTextm {
    position: absolute;
    left: 80px;
    top: 340px;
    font-size: 17px;
}

.info1 {
    margin-top: 0px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.info1_1 {
    display: flex;
    margin-top: 150px;
    justify-content: center;
}

.info_img {
    padding-left: 5%;
    margin-top: 50px;
}

.info_2 {
    display: flex;
    margin-top: 150px;
}

.info_2_1 {
    padding-top: 50px;
}

    .info_2_1 p {
        padding-top: 50px;
        font-size: 20px;
    }

.info_3 {
    justify-content: center;
    display: flex;
    margin-top: 150px;
    margin-left: 150px
}

    .info_3 p {
        font-size: 15px;
    }

.container_goInYourPage {
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    display: grid;
    width: 100%;
}

css
.image-container {
    position: relative;
}

.image-container img {
    transition: transform 0.5s ease;
    height: 50%;
    width: 50%;
}

    .image-container img:hover {
        transform: scale(1.2);
        z-index: 1;
    }

.span_1 {
    position: absolute;
    top: 84%;
    left: 24%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease-out;
}

.span_2 {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease-out;
}

.span_3 {
    position: absolute;
    top: 84%;
    left: 77%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    transition: all 0.3s ease-out;
}

.image-container img:hover + span {
    opacity: 1;
}